
{% extends 'blog_post/master.html' %}

<!doctype html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog site</title>
</head>

<body>
    {% block content %}
            <div class="container">
                <center>

                <h1>This is my Django Blog! </h1>
                <h2> সকল পোস্ট তালিকা </h2>
                    <hr>
                </center>

            {% for post in posts %}
                <h2><a href="{% url 'view-post' post.pk %}">{{ post.title }}</a></h2>
                {% if post.category %}
                    <h6>Category:<a href="/blog/post-list/?category={{ post.category.id }}">
                    {{ post.category }}
                    </a>

                {% endif %}
                <h6>{{ post.created_at }}</h6>
                <h4>{{ post.body | truncatewords:20 }}</h4>

            {% endfor %}


            </div>
    {% endblock %}
</body>
</html>